@import './main.css';

.header {
    padding: 1.5rem 3rem;
}

.header .filters-header {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.header select {
    width: 14rem;
    padding: .3rem;
    background-color: var(--white);
}

.header button {
    width: 14rem;
    padding: .5rem;
}

.buttons-header {
    display: flex;
    gap: 1rem;
}

.header-team {
    display: flex;
    gap: .5rem;
}

.shield-header {
    height: 2.5rem;
}