@import './main.css';

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.nav ul {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: var(--black);
}

.nav .name-app {
    font-weight: bold;
    font-size: 1.2rem;
}